.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
  background-color: rgb(223, 223, 223);
}

.img-wrapper {
  margin-left: 40px;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.about-wrapper > div {
  font-size: 1.2em;
  margin: 6px;
  margin-left: 60px;
  margin-right: 60px;
}

i {
  margin: 6px;
}