.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
  background-color: #0b0c10;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 30px;
}

.about-wrapper > div {
  font-size: 1.2em;
  margin: 6px;
  margin-left: 60px;
  margin-right: 60px;
}

i {
  margin: 6px;
  color: #66fcf1;
}

.tech {
  color: #45a29e;
}

@media only screen and (max-width: 900px) {
  .about {
    flex-direction: column;
    height: 100%;
  }
  .img-wrapper {
    margin-left: 0px;
  }
}
