.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 50px 0 50px;
}

.container-animate {
  animation-name: slideInLeft;
  /* animation-name: slideInRight; */
  animation-duration: 0.5s;
}

.image-wrapper {
  max-width: 800px;
  margin: auto;
}

img {
  border: black solid;
  height: auto;
  max-width: 100%;
}

button {
  border-radius: 15px;
  background-color: aliceblue;
  margin: 6px;
  padding: 8px;
  text-decoration: none;
}

button:hover {
  background-color: lightgray;
  border: aliceblue;
}

/* left */

@-webkit-keyframes slideInLeft {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInLeft {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}

/* right  */

@-webkit-keyframes slideInRight {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInRight {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
