.outter-app-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.app-wrapper {
  margin-bottom: 60px;
  margin-top: 40px;
}

.sort-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  padding: 20px;
  font-size: 1.2em;
}

.sort {
  margin: 10px;
}

.sort:hover {
  cursor: pointer;
  color: lightgray;
}

@media only screen and (max-width: 400px) {
  .sort-wrapper {
    flex-direction: column;
  }
}
