.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: lightblue;
}

.navbar-wrapper > div > a {
  text-decoration: none;
  color: lightblue;
}
.navbar-wrapper > div > a:hover,
.navbar-wrapper > div > a:active {
  color: white;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.navlink {
  margin: 2px;
  text-align: center;
  width: 100%;
}

.navlink:hover {
  cursor: pointer;
  color: white;
}

a {
  text-decoration: none;
}

.hamburger-button {
  font-size: 30px;
  color: #000000;
  line-height: 80px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media only screen and (max-width: 900px) {
  .navbar-wrapper {
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin: 0;
  }
  .hamburger-button {
    display: flex;
  }
  .hamburger-button > i {
    display: flex;

    margin: 0;
    margin-top: 2px;
  }
  ul {
    flex-direction: column;
  }
  #check:checked ~ .navbar-ul {
    display: none;
  }
}
