.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.2em;
  color: #66fcf1;
  position: fixed;
  top: 0;
  background-color: #1f2833;
  z-index: 100;
}

.navbar-wrapper > div > a {
  text-decoration: none;
  color: #66fcf1;
}

.navbar-wrapper > div > a:hover,
.navbar-wrapper > div > a:active {
  color: white;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.navlink {
  margin: 2px;
  text-align: center;
  width: 100%;
}

.navlink:hover {
  cursor: pointer;
  color: white;
}

a {
  text-decoration: none;
  color: #66fcf1;
}

.hamburger-button {
  font-size: 30px;
  color: #66fcf1;
  line-height: 80px;
  cursor: pointer;
  display: none;
  margin-right: 14px;
  padding: 0 6px 0 6px;
  border: 2px solid #66fcf1;
}
#check {
  display: none;
}

@media only screen and (max-width: 900px) {
  .navbar-wrapper {
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin: 0;
  }
  .hamburger-button {
    display: flex;
  }
  .hamburger-button > i {
    display: flex;

    margin: 0;
    margin-top: 2px;
  }
  ul {
    flex-direction: column;
  }
  #check:checked ~ .navbar-ul {
    display: none;
  }
}
